#subheader-container {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 0.5px solid rgb(204, 201, 201);
}

#subheader-icon {
  width: 35px;
  margin-right: 1%;
}

#title {
  color: rgb(75, 74, 74);
  font-size: 27px;
}